# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Capacitor
android/app/build/
android/.gradle/
android/local.properties
ios/App/build/
ios/App/Pods/
ios/App/App/public/
ios/App/App.xcarchive/
ios/App/DerivedData/
www/

# IDE
*.iml
.idea/
.gradle/
.project

server/
